<launch>
<include file="$(find omo_r1_bringup)/launch/includes/description.launch.G2.xml"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  
  </node>

<!-- launching Arduino robot node -->
   <node pkg="rosserial_python" type="serial_node.py" name="serial_node1">
     <param name="port" value="/dev/ttyACM0"/>
     <param name="baud" value="115200"/>
   </node>

<!--node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
  <param name="frequency" type="double" value="30.0"/>
  <param name="sensor_timeout" type="double" value="0.1"/>
  <param name="two_d_mode" type="bool" value="false"/>
  <param name="debug" type="bool" value="false"/>
  <param name="debug_out_file" type="string" value="debug_file.txt"/>

  <rosparam command="load" file="$(find robot_localization)/params/ekf_template.yaml"/>

  <remap from="imu" to="/imu/data"/>
  <remap from="odom" to="/odom"/>
  <remap from="gps" to="/gps"/>
  <remap from="acceleration" to="/acceleration"/>
  <remap from="mag" to="/mag"/>
  <remap from="baro" to="/baro"/>
  <remap from="pose_updates" to="/pose_updates"/>
  <remap from="twist_updates" to="/twist_updates"/>
  <remap from="odom_frame" to="/odom_frame"/>
  <remap from="base_link_frame" to="/base_link_frame"/>
  <remap from="map_frame" to="/map_frame"/>
</node-->




   <!--node pkg="rosserial_python" type="serial_node.py" name="serial_node2">
     <param name="port" value="/dev/ttyACM0"/>
     <param name="baud" value="115200"/>
   </node-->

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <param name="rate" value="50"/>
  </node>
  
  
  <!--<node pkg="imu_filter_madgwick" name="imu_filter" type="imu_filter_madgwick" output="screen">
    <remap from="/imu_raw" to="/imu/data"/>
    <param name="publish_tf" value="false"/>
    <param name="use_mag" value="false"/>
  </node>-->
  


  
</launch>
