<launch>
  <arg name="set_port" default="/dev/ttyACM0"/>
  <arg name="set_odom_mode" default="wheel_only"/>
  <node pkg="omo_r1_bringup" type="omo_r1_motor_node.py" name="omo_r1_motor_node" output="screen">
      <param name="port" value="$(arg set_port)"/>
      <param name="baud" value="115200"/>
      <param name="odom_mode" value="$(arg set_odom_mode)"/>
      <param name="modelName" value="r1"/>
  </node>


  <node pkg="omo_r1_bringup" type="omo_r1_motor_node.py" name="omo_r1_motor_node" output="screen">
      <param name="odom_mode" value="imu_only"/>
      <param name="modelName" value="r1"/>
  </node>
</launch>


<!--launch>
  <arg name="set_port" default="/dev/ttyACM0"/>
  <arg name="set_imu_mode" default="imu_only"/>
  <node pkg="omo_r1_bringup" type="omo_r1_motor_node.py" name="omo_r1_motor_node" output="screen">
      <param name="port" value="$(arg set_port)"/>
      <param name="baud" value="115200"/>
      <param name="imu_mode" value="$(arg set_imu_mode)"/>
      <param name="modelName" value="r1"/>
  </node>

  <node pkg="mpu_6050_driver" type="imu_node.py" name="imu_node" output="screen">
      <param name="imu_mode" value="imu_only"/>
      <param name="modelName" value="r1"/>
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="50.0"/>
    <param name="tf_prefix" value="r1"/> <!-- Added tf_prefix parameter -->
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find omo_r1_description)/rviz/omo_r1_description.rviz"/>
</launch-->


