<launch>

  <arg name="port" default="/dev/ttyUSB0"/>
  <arg name="baud" default="115200"/>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="$(arg port)" />
    <param name="baud" value="$(arg baud)" />
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/-->

  <node name="tf_static" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map odom" />
  
</launch>
