<launch>
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find omo_r1_navigation)/maps/map.yaml"/-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  
  
    <param name="use_gui" value="false"/>
    <rosparam param="source_list">[/robot_description]</rosparam>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_map" args="0 0 0 0 0 0 /map /odom 10"/>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_odom" args="0 0 0 0 0 0 /odom /base_footprint 10"/>
</launch>